
/*                  This is an entire declaration block
selector {
  attribute: value;              <--- a single declaration line
  attribute: value;              <--- a second declaration line
}
*/

/* We type the CSS rules in the order they appear in the HTML doc */

body {
  color: #878787;
  margin: 0;
}

header {
  background-color: orange;
}

h1 {
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525C;
}
